<configuration>

    <property name="LOG_HOME" value="logs/storm"/>
    <property name="LOG_FILE_PATTERN" value="${LOG_HOME}/%d{yyyy-MM}/pz-storm-%d{MM-dd-yyyy}"/>
    <property name="PATTERN_FILE" value="%d{[yyyy-MM-dd][HH:mm:ss]} [${STORM_LOG_SOURCE:-CLIENT}] [%level] [%c{1}]: %msg%n"/>
    <property name="PATTERN_CONSOLE" value="%d{[HH:mm:ss]} [${STORM_LOG_SOURCE:-CLIENT}] [%level] [%c{1}]: %msg%n"/>

    <appender name="STORM_MAIN_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <file>${LOG_HOME}/main.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE_PATTERN}-main-%i.log.zip</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
            <totalSizeCap>5GB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>${PATTERN_FILE}</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC_STORM" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STORM_MAIN_FILE"/>
        <queueSize>512</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <includeCallerData>false</includeCallerData>
    </appender>

    <appender name="STORM_DEBUG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <file>${LOG_HOME}/debug.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE_PATTERN}-debug-%i.log.zip</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>5</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${PATTERN_FILE}</pattern>
        </encoder>
    </appender>

    <root level="${LOG_LEVEL:-INFO}">
        <appender-ref ref="ASYNC_STORM"/>
    </root>

    <logger name="Zomboid" level="${LOG_LEVEL:-INFO}" additivity="false">
        <appender-ref ref="ASYNC_STORM"/>
    </logger>

    <logger name="io.pzstorm.storm" level="${LOG_LEVEL:-INFO}" additivity="false">
        <appender-ref ref="ASYNC_STORM"/>
        <appender-ref ref="STORM_DEBUG_FILE"/>
    </logger>

</configuration>